APP_ENV=production
APP_ENVIRONMENT_ONLY=false
APP_URL={{ pterodactyl_panel_url }}
APP_TIMEZONE={{ pterodactyl_timezone }}
APP_SERVICE_AUTHOR={{ pterodactyl_service_author }}
APP_KEY={{ vault_pterodactyl_app_key }}
HASHIDS_SALT={{ vault_pterodactyl_hashids_salt }}
HASHIDS_LENGTH=8

DB_HOST=pterodactyl-db
DB_PORT=3306
DB_DATABASE=panel
DB_USERNAME=pterodactyl
DB_PASSWORD={{ vault_pterodactyl_db_password }}

REDIS_HOST=pterodactyl-cache
REDIS_PORT=6379
CACHE_DRIVER=redis
SESSION_DRIVER=redis
QUEUE_DRIVER=redis

MAIL_DRIVER=smtp
MAIL_HOST=127.0.0.1
MAIL_PORT=25
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_ENCRYPTION=false
MAIL_FROM=noreply@example.invalid
