[Unit]
Description=Pterodactyl Redis
After=network-online.target
Wants=network-online.target

[Container]
Image={{ pterodactyl_redis_image }}
ContainerName=pterodactyl-cache
Network=pterodactyl.network
Volume={{ pterodactyl_data_dir }}/redis:/data:U

[Service]
Restart=always
RestartSec=5
TimeoutStopSec=120
TimeoutStartSec=300

[Install]
WantedBy=multi-user.target
