[Unit]
Description=Pterodactyl MariaDB
After=network-online.target
Wants=network-online.target

[Container]
Image={{ pterodactyl_database_image }}
ContainerName=pterodactyl-db
Network=pterodactyl.network
EnvironmentFile=/etc/pterodactyl/database.env
Volume={{ pterodactyl_data_dir }}/database:/var/lib/mysql
Exec=--default-authentication-plugin=mysql_native_password

[Service]
Restart=always
RestartSec=5
TimeoutStartSec=300

[Install]
WantedBy=multi-user.target
